body {
  color: #874494;
}

#result {
  display: none;
}

#result-image {
  display: none;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: #654D91;
  color: #F78185;
  text-shadow: 10px 10px 10px grey;
}

#ping-pong {
  text-align: center;
}

#result-image img {
  height: 50%;
  width: 50%;
  border-color: black;
  border-width: thick;
  border-style: solid;
  margin-bottom: 20px;
}

#front-image img {
  text-align: center;
  height: 40%;
  width: 40%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #B19CD9;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  font-size: 20px;
}

.btn:hover {
  color: #DB5A6F;
  background-color: purple;
}

ol {
  font-weight: bold;
}

.author {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #F78185;
}
